<div class="page-header">
  <h1>Quimica <small>Daniele Vanzin</small></h1>
  </div>
<div class="jumbotron">
  <h1>Notas e Frequências:</h1>
  
  <p><a class="btn btn-danger btn-lg" href="../principal" role="button">Leve-me de volta!</a></p>
</div>

<iframe src="https://docs.google.com/spreadsheets/d/1xQoWhMYvvBd2qYYlL33fGOwBnqZbUQyCCg2Jo7FzKXw/pubhtml?widget=true&amp;headers=false" height="300" width="1140"></iframe>
