


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

   
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  
    <link href="starter-template.css" rel="stylesheet">

  
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

   
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Site das Turmas</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/a">Turma A</a></li>
            <li><a href="/b">Turma B</a></li>
            <li><a href="/c">Turma C</a></li>
            <li><a href="/d">Turma D</a></li>
            <li><a href="/e">Turma E</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

<div class="jumbotron">
  <h1>Sites das Turmas</h1>
  <p>...</p>
  
</div>

 

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
