<% if session[:usuario] != nil or session[:admin] != nil %>

<div id = "top" style=" width:100%; height:100px">
<div = "logout" style = "position:fixed; left:85%; top:10px; text-align:center">
	 <br>

	 <div >
	<p class="navbar-text">Bem vindo, <b> <%= @usuario %> ! </b> </p>
	 <br> <br>
	</div>
	<form method='get' action='../principal/logout'>
		<button type="submit" class="btn btn-danger">Logout</button>
		
	</form><br>	
	<form method='get' action='/usuarios/<%=@id%>'>
			<button type="submit" class="btn btn-info">Editar</button>
	
	</form>
</div>
</div>

<div = "lateral" style = "width:15%; height:20%; float:left">
	<ul class="list-group">
		
		<li class="list-group-item active">Home</li>
		<li class="list-group-item"><a href = "../tabela">Tabela Periódica</a></li>
		<li class="list-group-item"><a href = "../posts">Forum</a></li>
		<li class="list-group-item"><a href = "../turmas">Sites das Turmas</a></li>
		<li class="list-group-item"><a href = "../contacts/new">Contato Professor</a></li>
		<li class="list-group-item"><a href = "">Notas e Frequências</a></li>
		<li class="list-group-item"><a href = "../calendario/index">Calendário</a></li>
	</ul>
</div>
<div = "central" style = "text-align:center; width:85%; float:left">

<div class="page-header">
  <h1>Homepage <small> Professora: Daniela Vanzin</small></h1>
</div>
<br>
<br>
	<div class="jumbotron">
  <h1>InfoQuímica</h1>
  <p>Site online sobre Química para os alunos terem acesso a um novo meio mais interativo de estudo, 
contando com os materiais que serão usados em aula (tabela periódica, listas, provas passadas, etc)
 além de uma área específica para o aluno onde poderá tirar suas dúvidas por meio de perguntas, 
 sem precisar do uso do e-mail, bem como saber sua frequência e notas.</p>
<br>
</div>
</div>

<% else %>
<div id = "top" style=" width:100%; height:100px">
<div = "logout" style = "position:fixed; left:85%; top:10px; text-align:center">
	Bem vindo, Convidado !<br>
	<form method='get' action='../login'>
		<br>
<button type="submit" class="btn btn-success">Logar/Cadastrar</button>
	</form>
</div>
</div>
<div = "lateral" style = "width:15%; height:20%; float:left">
		<ul class="list-group">
		
		<li class="list-group-item active">Home</li>
		<li class="list-group-item"><a href = "../tabela">Tabela Periódica</a></li>
		<li class="list-group-item"><a href = "../posts">Forum</a></li>
		<li class="list-group-item"><a href = "../turmas">Sites das Turmas</a></li>
		<li class="list-group-item"><a href = "../contacts/new">Contato Professor</a></li>
		<li class="list-group-item">Notas e Frequências</li>
		<li class="list-group-item"><a href = "../calendario/index">Calendário</a></li>
	</ul>
</div>
<div = "central" style = "text-align:center; width:85%; float:left">

<div class="page-header">
  <h1>Homepage <small> Professora: Daniele Vanzin</small></h1>
</div>
	<div class="jumbotron">
  <h1>InfoQuímica</h1>
  <p>Site online sobre Química para os alunos terem acesso a um novo meio mais interativo de estudo, 
contando com os materiais que serão usados em aula (tabela periódica, listas, provas passadas, etc)
 além de uma área específica para o aluno onde poderá tirar suas dúvidas por meio de perguntas, 
 sem precisar do uso do e-mail, bem como saber sua frequência e notas.</p>

</div>
</div>
<% end %>