<div class="page-header">
  <h1>Calendario Letivo: <small>Calendario letivo dos alunos alunos</small></h1>
</div>

<div class="jumbotron">
  <h1>Calendario letivo: 2014</h1>
  <form action="https://drive.google.com/file/d/0B7vjaRnCSAH7T2w5ZnRUVGRMdG8/view?usp=sharing">
    <button type="button" class="btn btn-info btn-lg">
  <span  aria-hidden="true"></span> Ver/Baixar PDF
</button>
</form>

<%= link_to 'Back', principal_path %>


</div>





