<body>
	<% case @elemento when 'hidrogenio' %>
		<h1> Hidrogênio </h1>
		Massa atômica: <%= @massa.num_protons %>
		Eletronegatividade: <%= @elemento.eletronegatividade %>
	<% when 'litio' %>
		<h1> Lítio </h1>
		Massa atômica: <%= @massa.num_protons %>
		Eletronegatividade: <%= @elemento.eletronegatividade %>
	<% when 'sodio' %>
	<% when 'potassio' %>
	<% when 'rubidio' %>
	<% when 'cesio' %>
	<% when 'francio' %>
	<% when 'berilio' %>
	<% when 'magnesio' %>
	<% when 'calcio' %>
	<% when 'estroncio' %>
	<% when 'bario' %>
	<% when 'radio' %>
	<% when 'escandio' %>
	<% when 'itrio' %>
	<% when 'titanio' %>
	<% when 'zirconio' %>
	<% when 'hafnio' %>
	<% when 'rutherfordio' %>
	<% when 'vanadio' %>
	<% when 'niobio' %>
	<% when 'tantalo' %>
	<% when 'dubnio' %>
	<% when 'cromo' %>
	<% when 'molibdenio' %>
 	<% when 'tungstenio' %>
	<% when 'seaborgio' %>
	<% when 'manganes' %>
	<% when 'tecnecio' %>
	<% when 'renio' %>
	<% when 'bohrio' %>
	<% when 'ferro' %>
	<% when 'rutenio' %>
	<% when 'osmio' %>
	<% when 'hassio' %>
	<% when 'cobalto' %>
	<% when 'rodio' %>
	<% when 'iridio' %>
	<% when 'meitinerio' %>
	<% when 'niquel' %>
	<% when 'paladio' %>
	<% when 'platina' %>
	<% when 'darmstadio' %>
	<% when 'cobre' %>
	<% when 'prata' %>
	<% when 'ouro' %>
	<% when 'roentigenio' %>
	<% when 'zinco' %>
	<% when 'cadmio' %>
	<% when 'mercurio' %>
	<% when 'copernicio' %>
	<% when 'boro' %>
	<% when 'aluminio' %>
	<% when 'galio' %>
	<% when 'indio' %>
	<% when 'talio' %>
	<% when 'ununtrio' %>
	<% when 'carbono' %>
	<% when 'silicio'%>
	<% when 'germanio'%>
	<% when 'estanho'%>
	<% when 'chumbo'%>
	<% when 'flerovio'%>
	<% when 'nitrogenio'%>
	<% when 'fosforo'%>
	<% when 'arsenio'%>
	<% when 'antimonio'%>
	<% when 'bismuto'%>
	<% when 'ununpentio'%>
	<% when 'oxigenio'%>
	<% when 'enxofre'%>
	<% when 'selenio'%>
	<% when 'telurio'%>
	<% when 'polonio'%>
	<% when 'livermonio'%>
	<% when 'fluor'%>
	<% when 'cloro'%>
	<% when 'bromo'%>
	<% when 'iodo'%>
	<% when 'astato'%>
	<% when 'ununseptio'%>
	<% when 'helio'%>
	<% when 'neonio'%>
	<% when 'argonio'%>
	<% when 'criptonio'%>
	<% when 'xenonio'%>%>
	<% when 'radonio'%>
	<% when 'ununcoctio'%>
	<% when 'lantanio'%>
	<% when 'actinio'%>
	<% when 'cerio'%>%>
	<% when 'torio'%>
	<% when 'praseodimio'%>
	<% when 'protactinio'%>
	<% when 'neodimio'%>
	<% when 'uranio'%>
	<% when 'promecio'%>
	<% when 'neoptunio'%>
	<% when 'samario'%>
	<% when 'plutonio'%>
	<% when 'europio'%>
	<% when 'americio'%>
	<% when 'gadolinio'%>
	<% when 'curio'%>
	<% when 'terbio'%>
	<% when 'barquelio'%>
	<% when 'disprosio'%>
	<% when 'californio'%>
	<% when 'holmio'%>
	<% when 'einstenio'%>
	<% when 'erbio'%>
	<% when 'fermio'%>
	<% when 'tulio'%>
	<% when 'mendelevio'%>
	<% when 'iterbio'%>
	<% when 'nobelio'%>
	<% when 'lutecio'%>
	<% when 'laurencio'%>
	<% end %>
</body>