<head>
<head>
<body>
<%= link_to 'Voltar', principal_path %>  
<img src="../assets/tabela.png" alt="tabela" width="1258" height="614" border="0" usemap="#tabela" />
<map name="tabela" id="tabela">
  <area shape="rect" coords="15,20,82,83" href="/elemento/hidrogenio" alt="Hidrogênio" />
  <area shape="rect" coords="15,85,82,147" href="/elemento/litio" alt="Lítio" />
  <area shape="rect" coords="14,149,82,211" href="/elemento/sodio" target="_self" alt="Sódio" />
  <area shape="rect" coords="14,211,80,274" href="/elemento/potassio" target="_self" alt="Potássio" />
  <area shape="rect" coords="14,277,81,338" href="/elemento/rubidio" alt="Rubídio" />
  <area shape="rect" coords="14,339,81,401" href="/elemento/cesio" alt="Césio" />
  <area shape="rect" coords="14,401,80,466" href="/elemento/francio" alt="Frâncio" />
  <area shape="rect" coords="84,84,150,147" href="/elemento/berilio" alt="Berílio" />
  <area shape="rect" coords="83,147,150,209" href="/elemento/magnesio" alt="Magnésio" />
  <area shape="rect" coords="82,211,150,274" href="/elemento/calcio" alt="Cálcio" />
  <area shape="rect" coords="84,276,148,339" href="/elemento/estroncio" alt="Estrôncio" />
  <area shape="rect" coords="84,339,148,404" href="/elemento/bario" alt="Bário" />
  <area shape="rect" coords="82,405,150,466" href="/elemento/radio" alt="Rádio" />
  <area shape="rect" coords="152,213,216,273" href="/elemento/escandio" alt="Escândio" />
  <area shape="rect" coords="151,277,217,337" href="/elemento/itrio" alt="Ítrio" />
  <area shape="rect" coords="220,213,288,273" href="/elemento/titanio" alt="Titânio" />
  <area shape="rect" coords="220,276,290,338" href="/elemento/zirconio" alt="Zircônio" />
  <area shape="rect" coords="219,340,289,403" href="/elemento/hafnio" alt="Háfnio" />
  <area shape="rect" coords="219,403,289,465" href="/elemento/rutherfordio" alt="Rutherfórdio" />
  <area shape="rect" coords="291,212,357,275" href="/elemento/vanadio" alt="Vanádio" />
  <area shape="rect" coords="291,276,358,340" href="/elemento/niobio" alt="Nióbio" />
  <area shape="rect" coords="291,340,357,402" href="/elemento/tantalo" alt="Tântalo" />
  <area shape="rect" coords="291,403,358,467" href="/elemento/dubnio" alt="Dúbnio" />
  <area shape="rect" coords="359,213,426,275" href="/elemento/cromo" alt="Cromo" />
  <area shape="rect" coords="359,276,426,338" href="/elemento/molibdenio" alt="Molibdênio" />
  <area shape="rect" coords="360,340,426,403" href="/elemento/tungstenio" alt="Tungstênio" />
  <area shape="rect" coords="359,405,425,466" href="/elemento/seaborgio" alt="Seabórgio" />
  <area shape="rect" coords="427,213,493,274" href="/elemento/manganes" alt="Mangenês" />
  <area shape="rect" coords="428,276,493,338" href="/elemento/tecnecio" alt="Tecnécio" />
  <area shape="rect" coords="428,341,493,403" href="/elemento/renio" alt="Rênio" />
  <area shape="rect" coords="428,405,493,466" href="/elemento/bohrio" alt="Bóhrio" />
  <area shape="rect" coords="496,213,562,274" href="/elemento/ferro" alt="Ferro" />
  <area shape="rect" coords="496,277,562,339" href="/elemento/rutenio" alt="Rutênio" />
  <area shape="rect" coords="496,342,561,402" href="/elemento/osmio" alt="Ósmio" />
  <area shape="rect" coords="496,404,561,466" href="/elemento/hassio" alt="Hássio" />
  <area shape="rect" coords="563,214,628,278" href="/elemento/cobalto" alt="Cobalto" />
  <area shape="rect" coords="563,276,628,338" href="/elemento/rodio" alt="Ródio" />
  <area shape="rect" coords="564,341,629,402" href="/elemento/iridio" alt="Irídio" />
  <area shape="rect" coords="564,405,630,466" href="/elemento/meitinerio" alt="Meitinério" />
  <area shape="rect" coords="630,213,697,276" href="/elemento/niquel" alt="Níquel" />
  <area shape="rect" coords="633,276,699,338" href="/elemento/paladio" alt="Paládio" />
  <area shape="rect" coords="632,341,697,402" href="/elemento/platina" alt="Platina" />
  <area shape="rect" coords="631,404,697,467" href="/elemento/darmstadio" alt="Darmstádio" />
  <area shape="rect" coords="700,213,766,274" href="/elemento/cobre" alt="Cobre" />
  <area shape="rect" coords="700,277,765,338" href="/elemento/prata" alt="Prata" />
  <area shape="rect" coords="700,341,766,402" href="/elemento/ouro" alt="Ouro" />
  <area shape="rect" coords="700,404,766,466" href="/elemento/roentigenio" alt="Roentgênio" />
  <area shape="rect" coords="768,213,833,275" href="/elemento/zinco" alt="Zinco" />
  <area shape="rect" coords="768,276,833,338" href="/elemento/cadmio" alt="Cádmio" />
  <area shape="rect" coords="767,340,833,402" href="/elemento/mercurio" alt="Mercúrio" />
  <area shape="rect" coords="767,404,833,466" href="/elemento/copernicio" alt="Copernício" />
  <area shape="rect" coords="836,84,901,147" href="/elemento/boro" alt="Boro" />
  <area shape="rect" coords="835,148,901,210" href="/elemento/aluminio" alt="Alumínio" />
  <area shape="rect" coords="835,212,901,275" href="/elemento/galio" alt="Gálio" />
  <area shape="rect" coords="835,276,900,339" href="/elemento/indio" alt="Índio" />
  <area shape="rect" coords="835,340,902,403" href="/elemento/talio" alt="Tálio" />
  <area shape="rect" coords="835,405,901,466" href="/elemento/ununtrio" alt="Ununtrio" />
  <area shape="rect" coords="903,84,969,146" href="/elemento/carbono" alt="Carbono" />
  <area shape="rect" coords="903,148,970,210" href="/elemento/silicio" alt="Silício" />
  <area shape="rect" coords="902,212,969,274" href="/elemento/germanio" alt="Germânio" />
  <area shape="rect" coords="902,276,967,338" href="/elemento/estanho" alt="Estanho" />
  <area shape="rect" coords="903,340,969,403" href="/elemento/chumbo" alt="Chumbo" />
  <area shape="rect" coords="903,404,969,467" href="/elemento/flerovio" alt="Fleróvio" />
  <area shape="rect" coords="971,85,1036,147" href="/elemento/nitrogenio" alt="Nitrogênio" />
  <area shape="rect" coords="971,148,1037,209" href="/elemento/fosforo" alt="Fósforo" />
  <area shape="rect" coords="972,212,1036,275" href="/elemento/arsenio" alt="Arsênio" />
  <area shape="rect" coords="971,277,1037,339" href="/elemento/antimonio" alt="Antimônio" />
  <area shape="rect" coords="971,340,1037,402" href="/elemento/bismuto" alt="Bismuto" />
  <area shape="rect" coords="971,405,1037,467" href="/elemento/ununpentio" alt="Ununpentio" />
  <area shape="rect" coords="1039,84,1105,147" href="/elemento/oxigenio" alt="Oxigênio" />
  <area shape="rect" coords="1039,148,1105,210" href="/elemento/enxofre" alt="Enxofre" />
  <area shape="rect" coords="1039,213,1105,274" href="/elemento/selenio" alt="Selênio" />
  <area shape="rect" coords="1039,276,1105,339" href="/elemento/telurio" alt="Telúrio" />
  <area shape="rect" coords="1039,339,1105,402" href="/elemento/polonio" alt="Polônio" />
  <area shape="rect" coords="1039,404,1104,467" href="/elemento/livermonio" alt="Livermônio" />
  <area shape="rect" coords="1107,85,1172,146" href="/elemento/fluor" alt="Flúor" />
  <area shape="rect" coords="1106,148,1174,211" href="/elemento/cloro" alt="Cloro" />
  <area shape="rect" coords="1107,212,1173,275" href="/elemento/bromo" alt="Bromo" />
  <area shape="rect" coords="1107,276,1171,338" href="/elemento/iodo" alt="Iodo" />
  <area shape="rect" coords="1107,340,1173,402" href="/elemento/astato" alt="Ástato" />
  <area shape="rect" coords="1106,404,1173,465" href="/elemento/ununseptio" alt="Ununséptio" />
  <area shape="rect" coords="1175,20,1241,82" href="/elemento/helio" alt="Hélio" />
  <area shape="rect" coords="1175,84,1240,146" href="/elemento/neonio" alt="Neônio" />
  <area shape="rect" coords="1175,148,1241,210" href="/elemento/argonio" alt="Argônio" />
  <area shape="rect" coords="1175,213,1241,275" href="/elemento/criptonio" alt="Criptônio" />
  <area shape="rect" coords="1175,276,1241,339" href="/elemento/xenonio" alt="Xenônio" />
  <area shape="rect" coords="1175,339,1242,402" href="/elemento/radonio" target="radonio" alt="Radônio" />
  <area shape="rect" coords="1175,403,1241,466" href="/elemento/ununcoctio" alt="Ununcóctio" />
  <area shape="rect" coords="219,479,287,543" href="/elemento/lantanio" alt="Lantânio" />
  <area shape="rect" coords="219,545,288,609" href="/elemento/actinio" alt="Actínio" />
  <area shape="rect" coords="291,480,357,543" href="/elemento/cerio" alt="Cério" />
  <area shape="rect" coords="291,545,358,609" href="/elemento/torio" alt="Tório" />
  <area shape="rect" coords="358,479,425,543" href="/elemento/praseodimio" alt="Praseodímio" />
  <area shape="rect" coords="359,545,425,609" href="/elemento/protactinio" alt="Protactínio" />
  <area shape="rect" coords="427,480,493,544" href="/elemento/neodimio" alt="Neodímio" />
  <area shape="rect" coords="427,545,494,609" href="/elemento/uranio" alt="Urânio" />
  <area shape="rect" coords="495,480,562,543" href="/elemento/promecio" alt="Promécio" />
  <area shape="rect" coords="495,545,561,608" href="/elemento/neoptunio" alt="Neptúnio" />
  <area shape="rect" coords="563,479,630,543" href="/elemento/samario" alt="Samário" />
  <area shape="rect" coords="563,545,629,608" href="/elemento/plutonio" alt="Plutônio" />
  <area shape="rect" coords="631,480,698,544" href="/elemento/europio" alt="Európio" />
  <area shape="rect" coords="631,546,698,608" href="/elemento/americio" alt="Amerício" />
  <area shape="rect" coords="699,479,765,544" href="/elemento/gadolinio" alt="Gadolínio" />
  <area shape="rect" coords="699,545,765,609" href="/elemento/curio" alt="Cúrio" />
  <area shape="rect" coords="767,480,834,543" href="/elemento/terbio" alt="Térbio" />
  <area shape="rect" coords="767,545,833,609" href="/elemento/barquelio" alt="Barquélio" />
  <area shape="rect" coords="835,480,901,543" href="/elemento/disprosio" alt="Disprósio" />
  <area shape="rect" coords="834,545,901,609" href="/elemento/californio" alt="Califórnio" />
  <area shape="rect" coords="903,481,969,543" href="/elemento/holmio" alt="Hólmio" />
  <area shape="rect" coords="904,545,970,609" href="/elemento/einstenio" alt="Einstênio" />
  <area shape="rect" coords="972,479,1038,542" href="/elemento/erbio" alt="Érbio" />
  <area shape="rect" coords="972,545,1037,608" href="/elemento/fermio" alt="Férmio" />
  <area shape="rect" coords="1039,479,1105,543" href="/elemento/tulio" alt="Túlio" />
  <area shape="rect" coords="1039,545,1105,608" href="/elemento/mendelevio" alt="Mendelévio" />
  <area shape="rect" coords="1107,480,1173,544" href="/elemento/iterbio" alt="Itérbio" />
  <area shape="rect" coords="1107,544,1174,608" href="/elemento/nobelio" alt="Nobélio" />
  <area shape="rect" coords="1175,480,1241,544" href="/elemento/lutecio" alt="Lutécio" />
  <area shape="rect" coords="1174,545,1241,608" href="/elemento/laurencio" alt="Laurêncio" />
</map>
</body>