<h2>Cadastro de Aluno</h2>


<form method="post" action="create">
<label>Nome: </label><input type="text" name="nome"><br>
<label>Nome de usuario: </label><input type="text" name="login"><br>
<label>Senha: </label><input type="password" name="senha"><br><br>
<input type="submit" value="Cadastrar">
</form>