<div class="page-header">
  <h1>Posts <small>recentes:</small></h1>
</div>

<div class="panel panel-default">

 <div class="container">
      
      <p><br><b>Posts:</b></p>                                                                                      
      <div class="table-responsive">          
      <table class="table">
        <thead>
          <tr>
            <th>Conteúdo:</th>
            <th>Em:</th>
            <th>Editar:</th>
            <th>Excluir:</th>
          </tr>
        </thead>
        <tbody>
         <% @posts.each do |post| %>
      <tr>
        <td><%= post.conteudo.truncate(40) %></td>
        <td><%= post.data.to_s.truncate(16, omission: '') %></td> 
        <% if @id.to_s == post.id_usuario %>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
        </tbody>
      </table>
      </div>
    </div>
    </div>

<form action="../posts/new">
    <button type="submit" class="btn btn-info btn-lg">Novo Post +</button>
</form>





