<div class="jumbotron">
  <h1>Erro!</h1>
  <br>
  <p>Ops.. Algo deu errado, estamos contratando mais macacos para trabalhar nisso!</p>
  <br>
  <p><a class="btn btn-primary btn-lg" href="../principal" role="button">Leve-me de volta!</a></p>
</div>